
@import './variables.sass'

h1
  font-size: 2.5rem
h2
  font-size: 2rem
h3
  font-size: 1.75rem
h4
  font-size: 1.5rem
h5
  font-size: 1.25rem
h6
  font-size: 1rem

.ic-table
  height: 400px
  td, th
    text-align: left
  ::-webkit-scrollbar
    width: 12px
  ::-webkit-scrollbar-thumb
    width: 10px
    background-color: $primary
    border-radius: 10px
    border: 4px solid rgba(0, 0, 0, 0)
    background-clip: padding-box
    transition: .3s ease-in-out
  ::-webkit-scrollbar-thumb:hover
    background: lighten($primary, 5%)
    border-radius: 10px
    border: 4px solid rgba(0, 0, 0, 0)
    background-clip: padding-box
    transition: .3s ease-in-out

/** Themed Styles **/
:root
  --bg-primary: #3a3f44

div.bg-primary
  background: var(--bg-primary) !important

/** Quasar Overrides **/
aside.q-drawer--left
  height: 100%

// Make input labels visible in dark mode
.q-field--dark
  .q-field__label
    color: #ffffffb3 !important
