
@import './variables.sass'
@import '../../node_modules/bootstrap/scss/bootstrap.scss'

body
  background: rgb(31, 20, 21) url('../assets/bg/night_desert.png') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

[data-enabled]
  transition: 0.3s
[data-enabled='false']
  opacity: 0.5
  filter: grayscale(1)

th
  > img
    height: 50px

  & > div.disabled
    opacity: 70%

input, textarea, select
  background: none
  border: 1px solid darken(white, 25%)
  border-radius: 0.25rem
  color: white
  outline: none
  padding: 0.5rem
input[type='range']
  border: none
option
  color: black
textarea
  height: 40px
  overflow: hidden
  resize: none

#calc
  background-color: rgba(28, 30, 34,0.7)
  border-radius: 5px

.jumbotron
  padding: 3rem
  background-color: rgba(28, 30, 34, 0.8)
  border-radius: 5px

.nav-tabs .nav-link.active
  background-color: rgb(28, 30, 34)
