label.active > div > p {
	text-decoration: none;
}

label:not(.active) > div > p {
  text-decoration: line-through;
}

.talent-container {
	display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px 3px;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

/* change the color of the range selector circle */
.custom-range::-webkit-slider-thumb {
  background: gray;
}

.custom-range::-moz-range-thumb {
  background: gray;
}

.custom-range::-ms-thumb {
  background: gray;
}

th > img {
	height: 40px;
}

.talent-container > div.disabled {
	opacity: 70%;
}

.card-text {
	white-space: pre-line;
}

body {
  background: rgb(31, 20, 21) url('../images/bg/night_desert.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.card-sets-container-6{
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . .";
}

.card-set {
	height:90px;
}

.card-title {
	position:absolute;
	opacity:80%;
}

#cards {
  background-color: rgba(28, 30, 34,0.7);
	border-radius: 5px;
}

#calc {
  background-color: rgba(28, 30, 34,0.7);
	border-radius: 5px;
}
