<div class="col-xl-4" style="max-width:400px">
  <div class="card border-primary">
    <div class="card-header">Calm Basics</div>
    <div class="card-body talent-container p-2" id="skill_tab_one">
      <div class="bs-component">
        <img src="assets/images/talents/all-1-1.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/all-1-2.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/all-1-3.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/all-1-4.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/all-1-5.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/all-1-6.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/all-1-7.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/all-1-8.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/all-1-9.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/all-1-10.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-1-1.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-1-2.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-1-3.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-1-4.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-1-5.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
    </div>
    <div class="card-body border border-secondary rounded">
      <p id="notes_one" class="card-text"></p>
    </div>
  </div>
</div>
<div class="col-xl-4" style="max-width:400px">
  <div class="card border-primary">
    <div class="card-header">Archer Talents</div>
    <div class="card-body talent-container p-2" id="skill_tab_two">
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-1.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-2.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-3.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-4.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-5.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-6.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-7.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-8.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-9.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-10.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-11.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-12.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-13.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-14.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/arc-2-15.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
    </div>
    <div class="card-body border border-secondary rounded">
      <p id="notes_two" class="card-text"></p>
    </div>
  </div>
</div>
<div class="col-xl-4" style="max-width:400px">
  <div class="card border-primary">
    <div class="card-header">Bowman Talents</div>
    <div class="card-body talent-container p-2" id="skill_tab_three">
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-1.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-2.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-3.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-4.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-5.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-6.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-7.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-8.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-9.png" class="img-fuid img-thumbnail" />
        <p class=" text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-10.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-11.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-12.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-13.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-14.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
      <div class="bs-component">
        <img src="assets/images/talents/bow-3-15.png" class="img-fuid img-thumbnail" />
        <p class="text-light text-center bg-secondary border rounded skill m-0"></p>
      </div>
    </div>
    <div class="card-body border border-secondary rounded">
      <p id="notes_three" class="card-text"></p>
    </div>
  </div>
</div>
